<header>
  <div class="header-wrapper clearfix">
    <div class = "header-wrapper__left l-left">
      <div class="ico-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class = "">
      </div>
    </div>
    <span>MENU</span>
    <div class = "header-wrapper__right l-right">
    </div>
  </div>
</header>
