.cleafix{
  clear: both;
}

.header-wrapper{
  width: 100%;
  min-width: 870px;
  height: 70px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  &__left{
    text-align: center;
    float: left;
  }
  &__right{
    float: right;
  }
}

// レスポンシブ対応用（SP）
// @media screen and ( max-width:599px) {
//   .header-wrapper{
//     height: 80px;
//     background-color: gray;
//   }
// }

.header-icon{
  display: block;
  a{
    img{
      margin-left: 50px;
    }
  }
}

.header-box{
  width: 120px;
  height: 100%;
  float: right;
  text-align: center;
  a{
    font-size: 18px;
    color: white;
    line-height: 70px;
    transition: .3s;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
  }
  a:before {
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    transition: all 0.3s ease;
    border-bottom: 3px solid  #33FFCC;
    position: absolute;
    display: block;
  }
  a:hover:before {
    width: 50%;
    border-bottom: 3px solid #33FFCC;
  }
  a:after {
    content: '';
    width: 0;
    right: 50%;
    bottom: 0;
    transition: all 0.3s ease;
    border-bottom: 3px solid  #33FFCC;
    position: absolute;
    display: block;
  }
  a:hover:after {
    width: 50%;
    border-bottom: 3px solid #33FFCC;
  }
}

.solichat-box{
  margin-right: 60px;
}

.header-box:hover{
  .header-link{
  }
}


.user-information-box{
  width: 170px;
  height: 100%;
  float: right;
  display: inline-block;
  margin-right: 60px;
  cursor: pointer;
  .user-information-wrapper{
    width: 170px;
    height: 70px;
    clear: both;
    transition: .3s;
    img{
      border-radius: 25px;
      margin-top: 12.5px;
      margin-left: 20px;
      float: left;
    }
    .header-link{
      width: 60px;
      float: left;
      margin: 0 20px 0 20px;
      font-size: 18px;
      color: white;
      line-height: 70px;
    }
  }
  .user-nav{
    width: 230px;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transition: 0.5s;
    &__box{
      text-align: center;
      padding: 30px 0 30px 0;
      position: relative;
      a{
        color: white;
        text-decoration: none;
      }
    }
    &__box:hover{
      background-color: rgba(0, 0, 0, 0.4);
      border-left: 5px solid #33FFCC;
      a{
        color: #33FFCC;
      }
    }
  }
}

.user-information-wrapper:hover{
  background-color: #333333;
  cursor: pointer;
}

.signIn-box{
  float: right;
  margin-right: 60px;
  a{
    text-decoration: none;
  }
}





