.top_title_content{
  min-width: 830px;
  height: 600px;
  background-image: url(
  https://images.unsplash.com/photo-1450044804117-534ccd6e6a3a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c50f5f3d8c43117cbbbbd2e3d9ecea46&auto=format&fit=crop&w=1567&q=80);
  background-size: cover;
  margin-top: 70px;
}

