$(".posted_contents_wrapper").html(
 `<div class = "posted_contents">
    <div class = "content_wrapper">
      <%= render partial: 'shared/posted_content', collection: @all_posts %>
    </div>
  </div>
  <%= paginate @all_posts, remote: true %>`);
