// View :show
.posted_content_show_wrapper{
  min-width: 870px;
  background-color: rgb(20, 20, 20);
  padding-top: 40px;
  margin-top: 70px;
  .posted_content_show{
    &__player{
      width: calc(100% - 60px);
      height: 600px;
      background-color:  rgba(0, 0, 0, 0.9);
      padding-top: 50px;
      margin: 0 30px;
      iframe{
        display: block;
        margin: 0 auto;
      }
      video{
        display: block;
        margin: 0 auto;
      }
    }
    &__title{
      width: calc(100% - 60px);
      height: 120px;
      color: white;
      border-bottom: 1px solid  #444444;
      padding-bottom: 10px;
      margin: 20px 30px 0;
      .title{
        height: 60px;
        line-height: 60px;
        overflow: auto;
        h3{
          font-size: 25px;
          font-weight: bold;
          float: left;
          padding: 0 30px;
        }
        i.fa-cog{
          float: right;
          display: inline-block;
          line-height: 60px;
          margin-right: 20px;
          a{
            margin-left: 2px;
          }
          .delete_post_btn{
            color: white;
            text-decoration: none;
          }
        }
      }
      .likes{
        width: 100%;
        height: 60px;
        .float_left_wrapper{
          height: 100%;
          float: left;
          margin-left: 30px;
          .play_count{
            float:left;
            line-height: 60px;
          }
          i.fa-heart{
            float: left;
            display: inline-block;
            line-height: 60px;
            margin-left: 90px;
            a{
              margin-left: 2px;
            }
          }
          // i.fa-thumbs-up{
          //   float: left;
          //   display: inline-block;
          //   line-height: 60px;
          //   padding-left: 90px;
          // }
          // i.fa-thumbs-down{
          //   float: left;
          //   display: inline-block;
          //   line-height: 60px;
          //   padding-left: 25px;
          // }
        }
        .float_right_wrapper{
          background: linear-gradient(to right, #ff512f, #f09819);
          float: right;
          border: 1px solid silver;
          border-radius: 20px;
          padding: 0 30px 0 10px;
          margin-right: 10px;
          .user_icon_wrapper{
            display: inline-block;
            float: left;
            img{
              height: 100%;
              border-radius: 30px;
              display: block;
              padding: 2px;
              margin: 3px 0 3px;

            }
          }
          .user_info_wrapper{
            float: left;
            margin-left: 15px;
            .user_nickname{
              margin-top: 6px;
              font-size: 20px;
              display: inline-block;
              clear: both;
              display: block;
            }
            .posted_date{
              font-size: 12px;
              clear: both;
              display: block;
              margin-top: 3px;
            }
          }
        }
      }
    }
    &__note{
      width: calc(100% - 60px);
      height: 100%;
      color: white;
      overflow: scroll;
      padding: 30px;
      h3{
        width: 120px;
        height: 30px;
        color: rgba(255, 255, 255, 0.9);
        font-size: 17px;
        font-weight: bold;
        font-family: arial;
        line-height: 30px;
        text-align: center;
        border: 1px solid  rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        display: inline-block;
        letter-spacing: 1px;
        margin-left: 20px;
      }
      p{
        width: calc(100% - 60px);
        min-height: 200px;
        max-height: 600px;
        font-size: 18px;
        font-weight: normal;
        overflow: scroll;
        border-bottom: 1px solid  #444444;
        padding: 10px 30px;
        margin-top: 20px;
      }
    }
    &__comment{
      width: calc(100% - 60px);
      height: 500px;
      color: white;
      overflow: scroll;
      padding: 0 30px;
      h3{
        width: 120px;
        height: 30px;
        color: rgba(255, 255, 255, 0.9);
        font-size: 17px;
        font-weight: bold;
        font-family: arial;
        line-height: 30px;
        text-align: center;
        border: 1px solid  rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        display: inline-block;
        letter-spacing: 1px;
        margin-left: 20px;
      }
    }
  }
}




// View :new
.posting_new_content{
  min-width: 870px;
  height: 1500px;
  background-color: rgb(30, 30, 30);
  margin-top: 70px;
  .posting_content_description{
    width: 100%;
    height: 150px;
    background: linear-gradient(-135deg, #E4A972, #9941D8);
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    h3{
      font-size: 25px;
      font-weight: bold;
      padding: 50px 0 0 25px;
    }
    p{
      font-size: 16px;
      padding-top: 10px;
    }
  }
  .menu_title{
    width: calc(100% - 40px);
    height: 100%;
    color: white;
    padding: 40px 20px 15px 0;
    margin: 0 0 10px 20px;
    border-bottom: 1px solid  #444444;
    h3{
      width: 120px;
      height: 30px;
      color: rgba(255, 255, 255, 0.9);
      font-size: 17px;
      font-weight: bold;
      font-family: arial;
      line-height: 30px;
      text-align: center;
      background: linear-gradient(to top, #f2709c, #ff9472);
      border: 2px solid  rgba(255, 255, 255, 0.7);
      border-radius: 20px;
      display: inline-block;
      letter-spacing: 1px;
      margin-left: 30px;
    }
    i{
      font-size: 18px;
      color: rgba(255, 255, 255, 0.9);
      margin: 0 0 0 20px;
      display: inline-block;
      position: relative;
      top: 2px;
    }
    i:before{
      color: #FFFF44;
    }
  }
  .title_form{
    input{
      width: 91%;
      height: 40px;
      font-size: 18px;
      border: 2px solid  #444444;
      border-radius: 10px;
      margin: 10px 0 0 50px;
    }
    input:focus{
      border: 2px solid #60EEFF;
      outline : none;
    }
  }
  .movie_form{
    margin-top: 40px;
    .post_type_selecter{
      width: 100px;
      height: 30px;
      font-size: 12px;
      background: linear-gradient(to top, #abbaab, #ffffff);
      border: 2px solid  #444444;
      cursor: pointer;
      margin-left: 20px;
    }
    .post_type_selecter:focus{
      border: 2px solid #60EEFF;
      outline : none;
    }
    .input_video_form{
      label{
        width: 150px;
        height: 30px;
        font-size: 16px;
        background: linear-gradient(to top, #abbaab, #ffffff);
        display: block;
        border: 2px solid  #444444;
        border-radius: 20px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        float: left;
        margin: 20px 0 0 50px;
        input{
          display: none;
        }
        .video_player{
          video{
            border: 2px solid  #444444;
            clear: both;
            display: block;
            margin: 20px 0 20px 0;
          }
        }
      }
      a{
        color: white;
        float: left;
        margin: 30px 0 0 20px;
      }
    }
    .input_youtube_form{
      display: none;
      .input_url_youtube{
        width: 500px;
        height: 30px;
        border: 2px solid  #444444;
        border-radius: 10px;
        padding-left: 20px;
        margin: 20px 0 0 50px;
      }
      .input_url_youtube:focus{
        border: 2px solid #60EEFF;
        outline : none;
      }
      .youtube_player{
        iframe{
          border: 2px solid  #444444;
          clear: both;
          display: block;
          margin: 20px 0 20px 50px;
        }
      }
    }
  }
  .description_form{
    clear: both;
    margin-top: 420px;
    textarea{
      width: 91%;
      height: 160px;
      font-size: 18px;
      border: 2px solid  #444444;
      border-radius: 10px;
      margin: 10px 0 0 50px;
    }
    textarea:focus{
      border: 2px solid #60EEFF;
      outline : none;
    }
  }
  .submitting_post_btn_wrapper{
    width: 100%;
    text-align: center;
    .submitting_post_btn{
      width: 300px;
      height: 70px;
      font-size: 25px;
      font-weight: bold;
      color: white;
      background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
      background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
      transition: .4s;
      border: 2px solid  rgba(255, 255, 255, 0.7);
      border-radius: 20px;
      letter-spacing: 3px;
      border-radius: 25px;
      text-decoration: none;
      cursor: pointer;
      margin: 100px 50px;
    }
    .submitting_post_btn:hover {
      background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
      background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    }
    .submitting_post_btn:focus{
      border: 2px solid #60EEFF;
      outline : none;
    }
  }
}
