// View :index
.index_contents_wrapper{
  min-width: 870px;
  height: 2000px;
  background-color: rgb(20, 20, 20);
  padding-top: 30px;
  .index_menu_title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;
    text-shadow: 1px 1px 0 #000;
    letter-spacing: 1px;
    color: white;
    border-bottom: 1px solid  #444444;
    padding:20px 0 20px;
    margin: 0px 0 10px 20px;
    h3{
      padding-left: 30px;
      font-size: 20px;
      font-weight: bold;
      font-family: arial;
      letter-spacing: 1px;
      .posts_sort_select{
        width: 80px;
        height: 22px;
        color: white;
        background-color: #222222;
        cursor: pointer;
        float: right;
        margin-right: 30px;
      }
      .posts_sort_select:focus{
        outline: none;
        border: 1px solid #33FFCC;
      }
    }
  }
  .posted_contents_wrapper{
    height: 800px;
    color: white;
    background-color:  rgba(0, 0, 0, 0.9);
    padding: 10px 0 30px;
    margin: 0 30px 0 30px;
    .posted_contents{
      width: calc(100% - 60px);
      height: 100%;
      display: block;
      margin: 0 auto;
      .content_wrapper{
        width: 1204px;
        height: 100%;
        margin: 0 auto;
      }
    }
    .pagination{
      height: 60px;
      background-color:  rgba(0, 0, 0, 0.9);
      clear: both;
      display: block;
      text-align: center;
      padding-top: 10px;
      li{
        width: 40px;
        height: 25px;
        border: 1px solid white;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        a{
          font-size: 8px;
          font-weight: bold;
          line-height: 25px;
          color: white;
          text-decoration: none;
          display: block;
        }
      }
      li:hover{
        background-color: gray;
      }
      li.active{
        background: linear-gradient(to right, #56ccf2, #2f80ed);
      }
    }
  }
  @media screen and ( max-width:1323px) {
    .posted_contents_wrapper{
      height: 1600px;
      .posted_contents{
        .content_wrapper{
          width: 602px;
        }
      }
    }
  }
}



// View :show
.posted_content_show_wrapper{
  min-width: 870px;
  background-color: rgb(20, 20, 20);
  padding-top: 40px;
  margin-top: 70px;
  .posted_content_show{
    &__player{
      width: calc(100% - 60px);
      height: 600px;
      background-color:  rgba(0, 0, 0, 0.9);
      padding-top: 50px;
      margin: 0 30px;
      iframe{
        display: block;
        margin: 0 auto;
      }
      video{
        display: block;
        margin: 0 auto;
      }
    }
    &__title{
      width: calc(100% - 60px);
      height: 120px;
      color: white;
      border-bottom: 1px solid  #444444;
      padding-bottom: 10px;
      margin: 20px 30px 0;
      .title{
        height: 60px;
        line-height: 60px;
        overflow: auto;
        h3{
          font-size: 25px;
          font-weight: bold;
          float: left;
          padding: 0 30px;
        }
        i.fa-cog{
          float: right;
          display: inline-block;
          line-height: 60px;
          margin-right: 20px;
          a{
            margin-left: 2px;
          }
          .delete_post_btn{
            color: white;
            text-decoration: none;
          }
          .edit_post_btn{
            color: white;
            text-decoration: none;
          }
          .post_btn:hover{
            color: #00FFFF;
          }
        }
      }
      .likes{
        width: 100%;
        height: 60px;
        margin-top: 3px;
        .float_left_wrapper{
          height: 100%;
          float: left;
          margin-left: 30px;
          .play_count{
            float:left;
            line-height: 60px;
          }
          #likes_icon_wrapper{
            display: inline-block;
            margin-left: 90px;
            .fa-heart{
              width: calc(100% + 10px);
              color: white;
              float: left;
              text-decoration: none;
              text-align: center;
              line-height: 60px;
              display: inline;
              margin-left: 2px;
            }
            .like_btn:hover{
              background-color: rgba(40, 40, 40, 0.5);
              border-radius: 20px;
            }
            .active_like{
              color: #FF0066;
            }
          }
          // i.fa-thumbs-up{
          //   float: left;
          //   display: inline-block;
          //   line-height: 60px;
          //   padding-left: 90px;
          // }
          // i.fa-thumbs-down{
          //   float: left;
          //   display: inline-block;
          //   line-height: 60px;
          //   padding-left: 25px;
          // }
        }
        .float_right_wrapper{
          background: linear-gradient(to right, #ff512f, #f09819);
          float: right;
          border: 2px solid rgba(255, 255, 255, 0.8);
          border-radius: 20px;
          padding: 0 30px 0 10px;
          margin-right: 10px;
          .user_icon_wrapper{
            display: inline-block;
            float: left;
            img{
              height: 100%;
              border-radius: 30px;
              display: block;
              padding: 2px;
              margin: 3px 0 3px;
            }
          }
          .user_info_wrapper{
            float: left;
            margin-left: 15px;
            .user_nickname{
              width: 100%;
              height: 100%;
              color: white;
              font-size: 20px;
              text-decoration: none;
              clear: both;
              display: block;
              margin-top: 6px;
            }
            .user_nickname:hover{
              color: #00FFFF;
            }
            .posted_date{
              font-size: 12px;
              clear: both;
              display: block;
              margin-top: 3px;
            }
          }
        }
      }
    }
    &__note{
      width: calc(100% - 60px);
      height: 100%;
      color: white;
      overflow: scroll;
      padding: 30px;
      h3{
        width: 120px;
        height: 30px;
        color: rgba(255, 255, 255, 0.9);
        font-size: 17px;
        font-weight: bold;
        font-family: arial;
        line-height: 30px;
        text-align: center;
        border: 1px solid  rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        display: inline-block;
        letter-spacing: 1px;
        margin-left: 20px;
      }
      p{
        width: calc(100% - 60px);
        min-height: 200px;
        max-height: 600px;
        font-size: 18px;
        font-weight: normal;
        overflow: scroll;
        border-bottom: 1px solid  #444444;
        padding: 10px 30px;
        margin-top: 20px;
      }
    }
    &__category{
      width: calc(100% - 60px);
      height: 100%;
      color: white;
      padding: 0 30px;
      h3{
        width: 120px;
        height: 30px;
        color: rgba(255, 255, 255, 0.9);
        font-size: 17px;
        font-weight: bold;
        font-family: arial;
        line-height: 30px;
        text-align: center;
        border: 1px solid  rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        display: inline-block;
        letter-spacing: 1px;
        margin-left: 20px;
      }
      p{
        width: calc(100% - 60px);
        height: 100px;
        font-size: 18px;
        font-weight: normal;
        overflow: scroll;
        border-bottom: 1px solid  #444444;
        margin-top: 40px;
        .post_category_tag{
          width: 120px;
          height: 30px;
          font-size: 17px;
          font-weight: bold;
          font-family: arial;
          background: linear-gradient(to top, #d31027, #ea384d);
          line-height: 30px;
          text-align: center;
          float: left;
          display: inline-block;
          border: 2px solid rgba(255, 255, 255, 0.7);
          border-radius: 20px;
          margin-left: 20px;
        }
      }
    }
    &__comment{
      width: calc(100% - 60px);
      height: 100%;
      color: white;
      overflow: scroll;
      padding: 0 30px;
      margin-top: 30px;
      h3{
        width: 120px;
        height: 30px;
        color: rgba(255, 255, 255, 0.9);
        font-size: 17px;
        font-weight: bold;
        font-family: arial;
        line-height: 30px;
        text-align: center;
        border: 1px solid  rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        display: inline-block;
        letter-spacing: 1px;
        margin-left: 20px;
      }
      .comment_form_wrapper{
        line-height: 74px;
        margin: 30px 0 0 20px;
        textarea{
          // width: 630px;
          width: calc(100% - 180px);
          max-width: 870px;
          height: 60px;
          font-size: 18px;
          float: left;
          resize: none;
          border: 2px solid gray;
          border-radius: 10px;
          padding: 5px 10px;
        }
        textarea:focus{
          text-decoration: none;
          outline: none;
          border: 2px solid #60EEFF;
        }
        button{
          width: 100px;
          height: 40px;
          font-size: 17px;
          color: white;
          background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
          border: 2px solid rgba(255, 255, 255,0.6);
          border-radius: 15px;
          cursor: pointer;
          outline: none;
          margin-left: 40px;
        }
        button:hover{
          background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
        }
        button:active{
          outline: none;
        }
      }
      .showing_comments_field{
        margin: 70px 0 0 20px;
        .comment_wrapper{
          min-height: 100px;
          clear: both;
          &__left{
            float: left;
            text-align: center;
            img{
              border-radius: 25px;
            }
            a{
              color: white;
              text-decoration: none;
              display: block;
              margin-top: 3px;
            }
            a:hover{
              color: #60EEFF;
              text-decoration: underline;
            }
            .posted_date{
              font-size: 9px;
              margin-top: 5px;
            }
          }
          &__right{
            width: calc(100% - 160px);
            max-width: 870px;
            height: 100%;
            min-height: 60px;
            background-color: #333333;
            border-radius: 10px;
            float: left;
            position: relative;
            padding: 10px 20px;
            margin: 0 0 40px 40px;
            .comment_text{
              max-width: calc(100% - 40px);
              float: left;
              margin: 25px 10px;
            }
            .fa-cog{
              color: white;
              text-decoration: none;
              float: right;
              margin-top: 25px;
            }
            .fa-cog:before{
              border-radius: 30px;
              display: inline-block;
              text-align: center;
            }
            .fa-cog:hover{
              color: silver;
            }
            .edit_comment_area{
              width: calc(100% - 30px);
              height: 60px;
              font-size: 18px;
              resize: none;
              outline: none;
              border: 2px solid gray;
              border-radius: 10px;
              animation: blinkAnime .8s infinite alternate;
              @keyframes blinkAnime{
                0%  { border-color: #BBBBBB }
                100%{ border-color: gray }
              }
              padding: 5px 10px;
              margin-top: 10px;
            }
            .edit_box_btns_wrapper{
              width: 100%;
              margin-top: 10px;
              .edit_box_btn{
                width: 80px;
                height: 30px;
                color: white;
                background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
                border: 2px solid rgba(255, 255, 255,0.6);
                border-radius: 10px;
                text-align: center;
                line-height: 32px;
                text-decoration: none;
                cursor: pointer;
                float: right;
                margin-right: 10px;
              }
              .edit_box_btn:hover{
                background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
              }
            }
          }
          &__right:before{
            content: "";
            position: absolute;
            top: 20px;
            left: -25px;
            border: 10px solid transparent;
            border-right: 15px solid #333333;
          }
        }
        .pagination{
          max-width: 1048px;
          height: 60px;
          clear: both;
          display: block;
          text-align: center;
          padding-top: 10px;
          li{
            width: 40px;
            height: 25px;
            border: 1px solid white;
            border-radius: 10px;
            cursor: pointer;
            display: inline-block;
            a{
              font-size: 8px;
              font-weight: bold;
              line-height: 25px;
              color: white;
              text-decoration: none;
              display: block;
            }
          }
          li:hover{
            background-color: gray;
          }
          li.active{
            background: linear-gradient(to right, #56ccf2, #2f80ed);
          }
        }
      }
    }
  }
}





// View :new
.posting_new_content{
  min-width: 870px;
  height: 1700px;
  background-color: rgb(30, 30, 30);
  margin-top: 70px;
  .posting_content_description{
    width: 100%;
    height: 150px;
    background: linear-gradient(-135deg, #E4A972, #9941D8);
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    h3{
      font-size: 25px;
      font-weight: bold;
      padding: 50px 0 0 25px;
    }
    p{
      font-size: 16px;
      padding-top: 10px;
    }
  }
  .menu_title{
    width: calc(100% - 40px);
    height: 100%;
    color: white;
    padding: 40px 20px 15px 0;
    margin: 0 0 10px 20px;
    border-bottom: 1px solid  #444444;
    h3{
      width: 120px;
      height: 30px;
      color: rgba(255, 255, 255, 0.9);
      font-size: 17px;
      font-weight: bold;
      font-family: arial;
      line-height: 30px;
      text-align: center;
      background: linear-gradient(to top, #f2709c, #ff9472);
      border: 2px solid  rgba(255, 255, 255, 0.7);
      border-radius: 20px;
      display: inline-block;
      letter-spacing: 1px;
      margin-left: 30px;
    }
    i{
      font-size: 18px;
      color: rgba(255, 255, 255, 0.9);
      margin: 0 0 0 20px;
      display: inline-block;
      position: relative;
      top: 2px;
    }
    i:before{
      color: #FFFF44;
    }
  }
  .title_form{
    input{
      width: 91%;
      height: 40px;
      font-size: 18px;
      border: 2px solid  #444444;
      border-radius: 10px;
      margin: 10px 0 0 50px;
    }
    input:focus{
      border: 2px solid #60EEFF;
      outline : none;
    }
  }
  .movie_form{
    margin-top: 40px;
    .post_type_selecter{
      width: 100px;
      height: 30px;
      font-size: 12px;
      background: linear-gradient(to top, #abbaab, #ffffff);
      border: 2px solid  #444444;
      cursor: pointer;
      margin-left: 20px;
    }
    .post_type_selecter:focus{
      border: 2px solid #60EEFF;
      outline : none;
    }
    .input_video_form{
      label{
        width: 150px;
        height: 30px;
        font-size: 16px;
        background: linear-gradient(to top, #abbaab, #ffffff);
        display: block;
        border: 2px solid  #444444;
        border-radius: 20px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        float: left;
        margin: 20px 0 0 50px;
        input{
          display: none;
        }
        .video_player{
          video{
            border: 2px solid  #444444;
            clear: both;
            display: block;
            margin: 20px 0 20px 0;
          }
        }
      }
      a{
        color: white;
        float: left;
        margin: 30px 0 0 20px;
      }
    }
    .input_youtube_form{
      display: none;
      .input_url_youtube{
        width: 500px;
        height: 30px;
        border: 2px solid  #444444;
        border-radius: 10px;
        padding-left: 20px;
        margin: 20px 0 0 50px;
      }
      .input_url_youtube:focus{
        border: 2px solid #60EEFF;
        outline : none;
      }
      .youtube_player{
        iframe{
          border: 2px solid  #444444;
          clear: both;
          display: block;
          margin: 20px 0 20px 50px;
        }
      }
    }
  }
  .description_form{
    clear: both;
    margin-top: 420px;
    textarea{
      width: 91%;
      height: 160px;
      font-size: 18px;
      border: 2px solid  #444444;
      border-radius: 10px;
      margin: 10px 0 0 50px;
    }
    textarea:focus{
      border: 2px solid #60EEFF;
      outline : none;
    }
  }
  .category_selecters_wrapper{
    margin: 30px 0 0 50px;
    .category_selecter{
      width: 170px;
      font-size: 16px;
      color: white;
      background-color: rgb(30, 30, 30);
      border: 2px solid #444444;
      border-radius: 10px;
      padding: 5px 10px;
      margin-right: 40px;
      option{
        border-radius: 5px;
      }
    }
    .category_selecter:focus{
      border: 2px solid #60EEFF;
      outline : none;
    }
    .category_selecter2{
      display: none;
    }
    .category_selecter3{
      display: none;
    }
  }
  .submitting_post_btn_wrapper{
    width: 100%;
    text-align: center;
    .submitting_post_btn{
      width: 300px;
      height: 70px;
      font-size: 25px;
      font-weight: bold;
      color: white;
      background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
      background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
      transition: .4s;
      border: 2px solid  rgba(255, 255, 255, 0.7);
      border-radius: 20px;
      letter-spacing: 3px;
      border-radius: 25px;
      text-decoration: none;
      cursor: pointer;
      margin: 100px 50px;
    }
    .submitting_post_btn:hover {
      background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    }
    .submitting_post_btn:focus{
      border: 2px solid #60EEFF;
      outline : none;
    }
  }
}





// View:edit
.edit_music_player{
  margin: 20px 0 0 50px;
}

.edit_description_form{
  clear: both;
  margin-top: 130px;
  textarea{
    width: 91%;
    height: 160px;
    font-size: 18px;
    border: 2px solid  #444444;
    border-radius: 10px;
    margin: 10px 0 0 50px;
  }
  textarea:focus{
    border: 2px solid #60EEFF;
    outline : none;
  }
}


















