// View: Show
.mypage_wrapper{
  min-width: 870px;
  background-color: rgb(30, 30, 30);
  .mypage_top{
    width: 100%;
    height: 500px;
    background-image: url(https://i.pximg.net/img-master/img/2013/10/27/22/01/13/39379535_p3_master1200.jpg);
    background-image: url(https://www.mercari.com/jp/assets/img/user/user_bg.jpg?48603385);
    background-size: 100% 150%;
    margin-top: 70px;
    // border: 2px solid #33FFCC;
    &__user_icon{
      float: left;
      margin: 80px 0 0 15%;
      img{
        border: 3px solid white;
        border-radius: 150px;
      }
      .user_nickname{
        font-size: 30px;
        font-weight: bold;
        font-family: Impact;
        text-shadow: 1px 1px 0 #000;
        letter-spacing: .1222rem;
        color: white;
        text-align: center;
        margin-top: 20px;
        display: block;
        text-decoration: none;
        cursor: pointer;
      }
      .user_userid{
        text-shadow: 1px 1px 0 #000;
        color: white;
        text-align: center;
        margin-top: 10px;
        opacity: 0.7;
        display: block;
        text-decoration: none;
        cursor: pointer;
      }
    }
    &__user_menu{
      width: 50%;
      height: 500px;
      color: white;
      float: right;
      background-color: rgba(10, 10, 10, 0.6);
      .menu_title{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        padding-left: 10px;
        border-left: 5px solid rgba(0, 100, 100, 0.8);
        text-shadow: 1px 1px 0 #000;
        letter-spacing: 1px;
      }
      .user_menu_wrapper.user_data{
        margin: 30px 0 10px 5%;
        .follow{
          font-size: 18px;
        }
        .post{
          margin-top: 15px;
        }
      }
      .user_menu_wrapper.areaTags{
        margin: 40px 0 10px 5%;
        .user_tag{
          width: 145px;
          height: 26px;
          text-align: center;
          line-height: 26px;
          margin-top: 10px;
          border-radius: 20px;
          display: block;
        }
        .area_tags_wrapper{
          height: 80px;
          overflow: scroll;
          .area_tags{
            width: 210px;
            float: left;
            .user_tag{
              margin-left: 20px;
              background-color: green;
              border: 1px solid #005500;
            }
          }
          .music_tags{
            float: left;
            display: block;
            .user_tag{
              background-color: #FF8C00;
              border: 1px solid #FF4500;
            }
          }
        }
      }
      .user_menu_wrapper.profile{
        margin: 30px 0 10px 5%;
        .profile_content{
          width: 93%;
          min-width: 350px;
          height: 150px;
          // background-color: rgba(10, 10, 10, 0.6);
          border: 0.5px solid rgba(255, 255, 255, 0.5);
          border-radius: 10px;
          padding: 10px;
          overflow: scroll;
        }
      }
    }
  }
  .mypage_users_posts{
    height: 600px;
    padding-top: 10px;
    .menu_title{
      color: white;
      padding-bottom: 20px;
      margin: 30px 20px 10px 20px;
      border-bottom: 1px solid  #444444;
      h3{
        padding-left: 30px;
        font-size: 20px;
        font-weight: bold;
        font-family: arial;
        letter-spacing: 1px;
        .posts_sort_select{
          width: 80px;
          height: 22px;
          color: white;
          background-color: #222222;
          float: right;
          margin-right: 30px;
        }
        .posts_sort_select:active{
          border: none;
        }
      }
    }
    .posted_contents{
      width : calc(100%-30px);
      height: 400px;
      margin: 30px;
      background-color:  rgba(0, 0, 0, 0.9);
      padding-top: 1px;
      .posted_content{
        width: 250px;
        height: 350px;
        color: white;
        border: 0.5px solid rgba(255, 255, 255, 1.0);
        border-radius: 10px;
        // box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.4);
        margin: 25px 0 25px 25px;
        &__tags{
          width: 100%;
          height: 20px;
          line-height: 20px;
          margin: 5px 0 0 0;
          .content_tag{
            width: 70px;
            height: 20px;
            font-size: 12px;
            background-color: #CC3300;
            border: 0.5px solid white;
            border-radius: 10px;
            text-align: center;
            float: left;
            margin: 10px 0 0 25px;
          }
          .other_tags{
            font-size: 10px;
            float: left;
            margin: 16px 0 0 5px;
          }
          .created_date{
            font-size: 10px;
            color: gray;
            float: right;
            margin: 15px 25px 0 0;
          }
        }
        &__thumbnail{
          text-align: center;
          background-color: black;
          clear: both;
          padding: 5px;
          margin: 0 1px 0 0;
        }
        &__title{
          width: 100%;
          height:40px;
          text-align: center;
          overflow: hidden;
          margin-top: 5px;
        }
        &__likes{
          i{
            color: white;
            margin: 5px 0 0 25px;
            a{
              font-size: 18px;
            }
          }
          .show_detail{
            background-color: #444444;
            float: right;
            border: 1px solid white;
            border-radius: 10px;
            padding: 5px 20px;
            margin: 0 25px 0 0;
          }
        }
      }
    }
  }
}
